In [19]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\shahrukh khan\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\shahrukh khan\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost", user= "root",passwd="srk123",use_pure= True)
    #chech if the connection is established
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor() #create a curser to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
        mydb.close()
        print(str(e))

[('amazon',), ('amir789',), ('breast_cancer_db',), ('company',), ('information_schema',), ('intro_sql',), ('join_sql',), ('lic',), ('my_sqlsql',), ('mysql',), ('new_telco',), ('performance_schema',), ('srkkhan786',), ('srkkhansahab',), ('student',), ('sys',), ('titanic',), ('zomato',)]

In [21]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost", user= "root",passwd="srk123",use_pure= True)
    #chech if the connection is established
    
    query = "create database amir789"
    
    cursor = mydb.cursor() #create a curser to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
        mydb.close()
        print(str(e))

1007 (HY000): Can't create database 'amir789'; database exists

In [25]:
 #first of all dont forget the use of data base
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost",database = "amir789", user= "root",passwd="srk123",use_pure= True)
    #chech if the connection is established
    print(mydb.is_connected())
    
    query = "CREATE TABLE amirDetails (srkid int(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR (60),"\
    "LastName VARCHAR(60),RegistrationDate DATE,Class int(12),Section Varchar(10))"
    
    cursor= mydb.cursor() #create a cursor to execute  queries
    cursor.execute(query)
    print("(table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'amirdetails' already exists

In [31]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost",database = "amir789", user= "root",passwd="srk123",use_pure= True)
    #chech if the connection is established
    print(mydb.is_connected())
    
    query = "insert into amirDetails VALUES('1000','amir','beg','1995-07-03','11', 'A')"
    
    cursor= mydb.cursor() #create a cursor to execute  queries
    cursor.execute(query)
    print("(values inserted into a table!!")
    mydb.close()
except Exception as e:
    mydb.close()
    mydb.commit()
    print(str(e))

True
(values inserted into a table!!

In [32]:
mydb = connection.connect(host= "localhost",database = "amir789", user= "root",passwd="srk123",use_pure= True)

In [33]:
cur = mydb.cursor()

In [35]:
cur.execute("insert into amirdetails VALUES('1150','SKKK','KHAN','1995-07-03','11', 'A')")

In [36]:
mydb.commit()